body {
  background-color: #eef4f5;
}

div.card-wrapper {
  padding: 20px;
  width: 700px;
  margin: 0 auto;
}

div.canvas-container {
    margin: 0 auto;
}

div.card-content-canvas-container {
    width: 840px;
    margin: 0 auto;
    padding: 20px;
}
